<div class="container">
  <div class="app-launcher">

    {% if Object.keys(webViewIndex.projects).length > 0 %}
      {% for pid, views in webViewIndex.projects %}
        <h3 class="slds-section-title--divider slds-m-bottom--medium">{{ pidToProjectName[pid] }}</h3>
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
        {% for obj in views %}
          <div class="slds-col--padded slds-size--1-of-3 slds-medium-size--1-of-6 slds-large-size--1-of-6 slds-p-bottom--large">
            <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">
              <a class="slds-button slds-icon_container {{ obj.params.sldsIconClassName }}" href="javascript:void()" onclick="webViewArray.show('{{obj.webView.id}}')">
                <svg aria-hidden="true" class="slds-icon slds-icon--large">
                  <use xlink:href="resources/lds/assets/icons/{{obj.params.sldsSprite}}/svg/symbols.svg#{{obj.params.sldsIconName}}"></use>
                </svg>
                <span class="slds-assistive-text"></span>
              </a>
              <div class="slds-text-heading--label slds-p-top--medium">
                {{ obj.params.title }}
              </div>
              <div class="slds-text-heading--label slds-p-top--medium">
                <a href="javascript:void(0);" onclick="webViewArray.destroy('{{obj.webView.id}}', '{{obj.params.pid}}');">
                Remove
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    {% endif %}

    {% if webViewIndex.uncategorized.length > 0 %}
      <h3 class="slds-section-title--divider slds-m-bottom--medium">Other Views</h3>
      <div class="slds-grid slds-wrap slds-grid--pull-padded">
      {% for obj in webViewIndex.uncategorized %}
        <div class="slds-col--padded slds-size--1-of-3 slds-medium-size--1-of-6 slds-large-size--1-of-6 slds-p-bottom--large">
          <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">
            <a class="slds-button slds-icon_container {{ obj.params.sldsIconClassName }}" href="javascript:void()" onclick="webViewArray.show('{{obj.webView.id}}')">
              <svg aria-hidden="true" class="slds-icon slds-icon--large">
                <use xlink:href="resources/lds/assets/icons/{{obj.params.sldsSprite}}/svg/symbols.svg#{{obj.params.sldsIconName}}"></use>
              </svg>
              <span class="slds-assistive-text"></span>
            </a>
            <div class="slds-text-heading--label slds-p-top--medium">
              {{ obj.params.title }}
            </div>
            <div class="slds-text-heading--label slds-p-top--medium">
              <a href="javascript:void(0);" onclick="webViewArray.destroy('{{obj.webView.id}}');">
              Remove
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}

  </div>
</div>